version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: ecommerce-postgres
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: ecommerce
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./db-init:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U root -d ecommerce"]
      interval: 5s
      timeout: 5s
      retries: 5

  api:
    build: .
    container_name: ecommerce-api
    ports:
      - "8080:8080"
    environment:
      DATABASE_URL: postgres://root:root@postgres:5432/ecommerce?sslmode=disable

    depends_on:
      postgres:
        condition: service_healthy

volumes:
  pgdata:
